@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $grey-light;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "~bulma/bulma";

@import "~@fortawesome/fontawesome-free/css/all.css";

div#app {
  max-width: 30em !important;
}

.hidden {
  display: none;
}

.section {
  padding-top: 1.5em;
}

.media-content {
  overflow-y: hidden;
}

.ProfileHolder .TagHolder {
  text-align: center;
  display: block;
  position: absolute;
  z-index: 99999;
  width: 100%;
  padding-top: 4px;
}

.TagHolder span {
  font-size: 1.2em;
}

.LoaderHolder {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 999999;
  padding-top: 3em;
}

.LoaderHolder div {
  display: inline-block;
}

.CardImageHolder {
  max-height: 450px;
}

.CardImageHolder figure.image {
  max-height: "450px";
  overflow-y: "hidden";
}

.footerLink {
  padding-top: 0.2em;
  text-align: center;
  font-size: 0.8em;
}

.ExpressionOverlay {
  position: relative;
  bottom: 4em;
  left: 0.8em;
}

.ExpressionOverlay i {
  color: yellow;
  font-size: 3em;
  x-nah-border-radius: 1.5em;
  x-nah-border: 3px solid black;
}
